.siteHeader {
	display: flex;
	/* flex-direction: column; */
	flex-direction: row;
	justify-content: space-between;

	padding-top: var(--spacing-sm);
	padding-bottom: var(--spacing-sm);
}

.navTitle {
	display: inline-block;
	font-weight: bolder;
	font-size: var(--font-size-lg);
}

.navlinks {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navlinks li {
	padding: 0 20px;
}
.navlinks li a {
	text-decoration: none !important;
	color: #bcbcbc;
	transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
	color: #ffffff;
}
span.brgrMenu {
	display: none;
}

@media screen and (min-width: 480px) {
	/* .siteHeader {
		flex-direction: row;
	} */
}

@media (width < 992px) {
}
/*table*/
@media (width <= 768px) {
	.navlinks {
		display: none;
	}
	span.brgrMenu {
		display: block;
	}
}

/*mobile*/
@media (width <= 600px) {
	span.brgrMenu {
		display: block;
	}
}

/* larger screen 1200 */
/* @media (width >= 1200px) {
	
} */
