/* set main container styles here... */

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .siteContent {
    flex: 1;
  }
  

  .siteFooter,.siteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}